{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl text-center mt-4">Hello, {{ user.username }}</h1>

    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <button class="text-xl bg-blue-600 text-white px-4 border-blue-900 border-2 mt-2 hover:bg-blue-300 hover:text-blue-900 hover:cursor-pointer w-40 text-center" type="submit">Log Out</button>
    </form>
</div>
{% else %}
<div class="flex flex-col items-center justify-center">
    <p class="text-2xl text-center my-4">You are not logged in</p>
    <a class="text-2xl bg-blue-600 text-white px-4 border-blue-900 border-2 mt-2 hover:bg-blue-300 hover:text-blue-900 hover:cursor-pointer w-40 text-center" href="{% url 'login' %}">Log In</a>
    <a class="text-2xl bg-blue-600 text-white px-4 border-blue-900 border-2 mt-2 hover:bg-blue-300 hover:text-blue-900 hover:cursor-pointer w-40 text-center" href="{% url 'sign_up' %}">Sign Up</a>
</div>
{% endif %}

{% endblock %}