{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl text-center mt-4">Hello, {{ user.username }}</h1>

    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <button class="text-xl bg-blue-600 text-white px-4 border-blue-900 border-2 mt-2 hover:bg-blue-300 hover:text-blue-900 hover:cursor-pointer w-40 text-center" type="submit">Log Out</button>
    </form>
</div>
{% else %}
<div class="flex flex-col items-center justify-center">
    <p class="text-2xl text-center my-4">You are not logged in</p>
    <div class="card w-max-1/2 font-sans">
        <header>
            <h2>Login to your account</h2>
            <p>Enter your details below to login to your account</p>
        </header>
        <section>
            <form class="form grid gap-6">
            <div class="grid gap-2">
                <label for="demo-card-form-email">Email</label>
                <input type="email" id="demo-card-form-email">
            </div>
            <div class="grid gap-2">
                <div class="flex items-center gap-2">
                <label for="demo-card-form-password">Password</label>
                <a href="{% url 'forgot_password' %}" class="ml-auto inline-block text-sm underline-offset-4 hover:underline">Forgot your password?</a>
                </div>
                <input type="password" id="demo-card-form-password">
            </div>
            </form>
        </section>
        <footer class="flex flex-col items-center gap-2">
            <button type="button" class="btn w-full">Login</button>
            <p class="mt-4 text-center text-sm">Don't have an account? <a href="{% url 'sign_up' %}" class="underline-offset-4 hover:underline">Sign up</a></p>
        </footer>
    </div>
</div>
{% endif %}

{% endblock %}